@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


:root {
    --purple: #24053E;
    --green: #44FFA1;
}


* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.nav p {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 8px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: var(--purple);
    padding-top: 32px;
}

.container h1 {
    font-family: "Fraunces", serif;
    color: white;
    line-height: 80px;
    font-weight: 600;
    font-size: 80px;
    width: 635px;
    margin: 0;
    padding: 56px;
}

.container a {
    width: 98px;
    background-color: var(--green);
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    padding: 12px 32px;
    width: 162px;
    margin-bottom: 330px;
}

.purple {
    background-color: var(--purple);
}

.ornamental {
    background-color: var(--purple);
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--purple);
    height: 100%;
    margin: 0;
}

.phone {
    position: absolute;
    bottom: 12px;
    right: 600px;
    width: 700px;
}

.first-oval {
    position: absolute;
    top: 120px;
    left: -30px;
}

.container span {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-underline-offset: 8px;
}

.features {
    display: flex;
    padding-top: 200px;
    background-color: #FCF8FF;
    color: #24053E;
    justify-content: center;
    width: 100%;
    padding-right: 160px;
    padding-left: 160px;
}


.features span {
    border: solid 1px;
    border-radius: 100%;
    padding: 12px;
}

.features h2 {
    font-family: "Fraunces", serif;
    font-weight: 600;
    font-size: 32px;
}

.features p {
    font-weight: 400;
    font-size: 18px;
}


.first-features {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30%;
    margin-right: 32px;
}

.second-features {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30%;
    margin-right: 32px;
}

.third-features {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-content {
    display: flex;
    position: relative;
}

.cta-container {
    display: flex;
    background-color: var(--purple);
    flex-direction: column;

}

.profile-picture {
    position: absolute;
}

.second-oval {
    position: absolute;
}